.page {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  overflow-x: hidden;

  .tags {
    font-size: 25px;
    position: absolute;
    color: $primary-color;
    bottom: 0;
    left: 120px;
    font-family: $bg-font;
    opacity: 0.6;
  }

  .top-tags {
    bottom: auto;
    top: 35px;
  }

  .bottom-tag-html {
    margin-left: -20px;
  }
}

.footer {
  z-index: 4;
  list-style: none;
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: none;

  li {
    a {
      font-size: 30px;
      color: $secondary-color;
      margin: 0 10px;

      svg {
        transition: all 0.3s ease-out;
      }

      &:hover {
        color: $primary-color;
      }
    }
  }
}

.container {
  width: 100%;
  will-change: contents;
  min-height: 90%;
  position: absolute;
  top: 5%;
  z-index: 1;
  opacity: 0;
  transform-style: preserve-3d;
  animation: fadeIn 1s 0.6s forwards;
}

@media (max-width: 900px) {
  .page {
    .tags {
      left: 50px;
    }
    .top-tags {
      top: 100px;
    }
  }

  // .footer {
  //   display: flex;
  // }
}
