@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
// colors
$primary-color: #ffd700;
$secondary-color: #8d8d8d;
// $bg-color: #e93f41;
$bg-color: #560d0d;
$font-color: #fff;
$icon-color: #4d4d4e;
// fonts
$heading-font: "Ubuntu", sans-serif;
$body-font: "Roboto", sans-serif;
$bg-font: "La Belle Aurore", cursive;
// box shadows
$shadow-1: -5px 10px 20px 0px rgba(0, 0, 0, 0.6);
